@font-face {
    font-family: 'Supreme';
    src: url('../../public/fonts/supreme/fonts/Supreme-Regular.woff2') format('woff2'),
        url('../../public/fonts/supreme/fonts/Supreme-Regular.woff2') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Supreme';
    src: url('../../public/fonts/supreme/fonts/Supreme-Medium.woff2') format('woff2'),
        url('../../public/fonts/supreme/fonts/Supreme-Medium.woff2') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Supreme';
    src: url('../../public/fonts/supreme/fonts/Supreme-Bold.woff2') format('woff2'),
        url('../../public/fonts/supreme/fonts/Supreme-Bold.woff2') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}